html,body { 
  height:100%; 
  overflow: hidden;
  margin: 0;
}

.center-this {
  text-align: center;
}

#title {
  text-align: center;
}

.jumbotron {
  margin-top: 10px;
}

#title {
  text-align: center;
}

#plane {
  margin-top: 75px;
}

#inner-sky {
  position:relative;
}

#sky{
  overflow: hidden;
  padding: 100px 0;
  height: 400px;
  background: -moz-linear-gradient(top,  #7fd0f1 0%, #b9e5f7 70%, #b9e5f7 70%, #d7ffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fd0f1), color-stop(70%,#b9e5f7), color-stop(70%,#b9e5f7), color-stop(100%,#d7ffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7fd0f1 0%,#b9e5f7 70%,#b9e5f7 70%,#d7ffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7fd0f1 0%,#b9e5f7 70%,#b9e5f7 70%,#d7ffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7fd0f1 0%,#b9e5f7 70%,#b9e5f7 70%,#d7ffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7fd0f1 0%,#b9e5f7 70%,#b9e5f7 70%,#d7ffff 100%); /* W3C */
}

/************/
/* balloons */
/************/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.balloon {
  height: 100%;
  position: absolute;
  max-height: 160px;
  padding: 0px;
}

#balloon-1 {
  margin-top: -50px;
  left: 235px;
  -webkit-animation: moveobjects 11s linear infinite;
  -moz-animation: moveobjects 11s linear infinite;
  -o-animation: moveobjects 11s linear infinite;
}

#balloon-2 {
  margin-top: -5px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  left: 500px;
  -webkit-animation: moveobjects 14s linear infinite;
  -moz-animation: moveobjects 14s linear infinite;
  -o-animation: moveobjects 14s linear infinite;
  opacity: 0.95;
}

#balloon-3 {
  margin-top: 100px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.9;
  left: 600px;
  -webkit-animation: moveobjects 18s linear infinite;
  -moz-animation: moveobjects 18s linear infinite;
  -o-animation: moveobjects 18s linear infinite;
}

#balloon-4 {
  margin-top: 122px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.85;
  left: 400px;
  -webkit-animation: moveobjects 21s linear infinite;
  -moz-animation: moveobjects 21s linear infinite;
  -o-animation: moveobjects 21s linear infinite;
}

/**********/
/* clouds */
/**********/

/* cloud shape */
.cloud {
  width: 200px; height: 60px;
  background: #fff;
  
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  
  position: relative; 
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

#cloud-1 {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  transform: scale(0.95);
  left: 150px;
  -webkit-animation: moveobjects 17s linear infinite;
  -moz-animation: moveobjects 17s linear infinite;
  -o-animation: moveobjects 17s linear infinite;
  opacity: 0.95;
}

#cloud-2 {
  left: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveobjects 25s linear infinite;
  -moz-animation: moveobjects 25s linear infinite;
  -o-animation: moveobjects 25s linear infinite;
}

#cloud-3 {
  left: 250px; top: -200px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveobjects 20s linear infinite;
  -moz-animation: moveobjects 20s linear infinite;
  -o-animation: moveobjects 20s linear infinite;
}

#cloud-4 {
  left: 470px; top: -250px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  -webkit-animation: moveobjects 18s linear infinite;
  -moz-animation: moveobjects 18s linear infinite;
  -o-animation: moveobjects 18s linear infinite;
}

#cloud-5 {
  left: 300px; top: -150px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveobjects 20s linear infinite;
  -moz-animation: moveobjects 20s linear infinite;
  -o-animation: moveobjects 20s linear infinite;
}

#cloud-6 {
  left: 200px;
  top: -75px;
  -webkit-animation: moveobjects 14s linear infinite;
  -moz-animation: moveobjects 14s linear infinite;
  -o-animation: moveobjects 14s linear infinite; 
}

@-webkit-keyframes moveobjects {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveobjects {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveobjects {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}